html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
p {
  margin-top: 0;
  margin-bottom: 0.5rem;
}
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2rem;
}

#map-outer {
  min-height: 300px;
  border: 1px solid #ccc;
}
#map {
  height: 100%;
}
.marker-label {
  color: #000;
  background-color: #fff;
  font-size: 16px;
  font-weight: 400;
  padding: 5px;
  text-align: center;
  white-space: nowrap;
}